p.intro {
  margin: 12px;
  font-style: italic;
  font-weight: bold;
  color: darkblue;
  }

.index {
  float: left;
  background-color: lightseagreen;
}

.about{

}

.highlight {
  background-color: lightgoldenrodyellow;
}

