p.intro {
  margin: 10px;
  font-style: italic;
  font-weight: bold;
  color: darkblue;
  }

.sideindex {
  float: left;
  background-color: rgb(54, 241, 232);
  border: 2px solid yellow;
  padding: 4px;
  width: 75%;
}

.highlight {
  background-color: lemonchiffon;
}

.about {
  font-weight: bold;
}